<div class="col-lg-12 col-sm-12 col-md-12">
  <div class="img">
  <div class="col-md-9 offset-md-1 col-lg-9 offset-lg-1">
      <div class="card">
        <div class="card-header"><h2> Buy a Product </h2> </div>       
          <div class="card-body">
            <div class="row">
                <div class=" col-lg-4 col-md-4">
                    <div class="form-group" >
                        <label style="font-weight: bold">Category</label>                                                            
                        <ng-select [items]="categoryList" placeholder="Category"
                         >
                        </ng-select>  
                    </div>
            </div>      
  
            <div class=" col-lg-4 col-md-4 ">
               <div class="form-group">                                                            
                   <label style="font-weight: bold">State</label>
                       <ng-select [items]="stateList"
                           bindLabel="state" bindValue="state" 
                           placeholder="Select State" 
                           >
                       </ng-select>                                                                        
                </div>
            </div>

            <div class="col-lg-4  col-md-4">
                <div class="form-group"> 
                       <label style="font-weight: bold">County</label>                                                               
                       <ng-select [items]="citiesList" 
                       bindLabel="city"  bindValue="city"  placeholder="Select County"
                        >
                       </ng-select>                                                              
                </div>                                                            
            </div>                
        </div>          
      </div>
    </div>
  </div>
</div>  
<div class="col-md-9 offset-md-1 col-lg-9 offset-lg-1 ">
    <label style="font-weight: bold">Shop Our Participating Third-Party Suppliers</label>
    <div class="row">
            <div class="col-sm-6 col-md-3">
                    <div class="card text-white bg-primary text-center">
                      <div class="card-body">
                        <blockquote class="card-bodyquote">
                          <a href="https://www.phdinc.com" target="_blank"  class="btn btn-info">Shop PHD, Inc.</a>                          
                        </blockquote>
                      </div>
                    </div>
             </div>
             <div class="col-sm-6 col-md-3">
                    <div class="card text-white bg-primary text-center">
                      <div class="card-body">
                        <blockquote class="card-bodyquote">
                                <a href="https://www.ikea.com" target="_blank" class="btn btn-info">Shop IKEA</a>
                        </blockquote>
                      </div>
                    </div>
             </div>
             <div class="col-sm-6 col-md-3">
                    <div class="card text-white bg-primary text-center">
                      <div class="card-body">
                        <blockquote class="card-bodyquote">
                                <a href="https://www.thomasnet.com" target="_blank"  class="btn btn-info">Shop Thomas Net</a>
                        </blockquote>
                      </div>
                    </div>
             </div>
             <div class="col-sm-6 col-md-3">
                    <div class="card text-white bg-primary text-center">
                      <div class="card-body">
                        <blockquote class="card-bodyquote">
                                <a href="https://www.target.com" target="_blank"  class="btn btn-info">Shop Target</a>
                        </blockquote>
                      </div>
                    </div>
             </div>
         </div>
    <div class="row">
            <div class="col-sm-6 col-md-3">
                    <div class="card text-white bg-primary text-center">
                      <div class="card-body">
                        <blockquote class="card-bodyquote">
                                <a href="https://www.pepboys.com" target="_blank"  class="btn btn-info">Shop Pep Boys</a>
                        </blockquote>
                      </div>
                    </div>
             </div>
             <div class="col-sm-6 col-md-3">
                    <div class="card text-white bg-primary text-center">
                      <div class="card-body">
                        <blockquote class="card-bodyquote">
                                <a href="https://www.educationalproducts.com"  target="_blank" class="btn btn-info">Shop EPI</a>
                        </blockquote>
                      </div>
                    </div>
             </div>
             <div class="col-sm-6 col-md-3">
                    <div class="card text-white bg-primary text-center">
                      <div class="card-body">
                        <blockquote class="card-bodyquote">
                                <a href="https://www.lowes.com" target="_blank"  class="btn btn-info">Shop Lowe's</a>
                        </blockquote>
                      </div>
                    </div>
             </div>
             <div class="col-sm-6 col-md-3">
                    <div class="card text-white bg-primary text-center">
                      <div class="card-body">
                        <blockquote class="card-bodyquote">
                                <a href="https://www.webstaurantstore.com" target="_blank"  class="btn btn-info"> Webstaurant Store</a>
                        </blockquote>
                      </div>
                    </div>
             </div>
        </div>
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <a href="https://www.homedepot.com" target="_blank" style="width:200px" class="btn btn-info">Shop Home Depot</a></div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <a href="https://www.michaels.com" target="_blank" style="width:200px" class="btn btn-info">Shop Michael's</a></div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <a href="https://www.officedepot.com" target="_blank" style="width:200px" class="btn btn-info">Shop Office Depot</a></div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <a href="https://www.chewy.com" target="_blank" style="width:200px" class="btn btn-info">Shop Chewy</a></div>
    </div>
</div>
</div>