<form [formGroup]="sellerServiceData" (ngSubmit)="saveSellerServiceInfo()">
  <div class="col-md-12 col-lg-12">
    <div class="row">
      <div class="col-md-12 ">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-5 col-lg-5">
                <div class="form-group">
                  <label>Valuation</label>
                  <input type="text" formControlName="valuation" class="form-control" />
                  <div *ngIf="submitted && f.valuation.errors" class="invalid-feedback">
                    <div *ngIf="f.valuation.errors.required">Valuation is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <div class="form-group">
                  <label>Accounting</label>
                  <input type="text" formControlName="accounting" class="form-control">
                  <div *ngIf="submitted && f.accounting.errors" class="invalid-feedback">
                    <div *ngIf="f.accounting.errors.required">Accountant field is
                      required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-lg-5">
                <div class="form-group">
                  <label>Legal</label>
                  <input type="text" formControlName="legal" class="form-control">
                  <div *ngIf="submitted && f.legal.errors" class="invalid-feedback">
                    <div *ngIf="f.legal.errors.required">Legal is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <div class="form-group">
                  <label>Escrow</label>
                  <input type="text" formControlName="escrow" class="form-control">
                  <div *ngIf="submitted && f.escrow.errors" class="invalid-feedback">
                    <div *ngIf="f.escrow.errors.required">Escrow is required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>      
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">   
      <button type="submit" style="width:150px" class="btn btn-success float-right"
         >Save</button>
         </div>       
     </div> 
  </div>
</form>